<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div>
  <table style="width:80%">
    <caption>Estad&iacute;sticas</caption>  
    <tr><td>N&uacute;mero de preguntas: </td><td><%=num_quest%></td></tr>
  	<tr><td>N&uacute;mero de comentarios: </td><td><%=comentarios%></td></tr>
  	<tr><td>N&uacute;mero promedio de comentarios: </td><td><%=avg_comentarios%></td></tr>
  	<tr><td>N&uacute;mero de preguntas con comentarios: </td><td><%=questConComentarios%></td></tr>
  	<tr><td>N&uacute;mero de preguntas sin comentarios: </td><td><%=questSinComentarios%></td></tr>
  </table>
  </div>
  </body>
  </html>
  
